<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>设置</string>
	<key>sections</key>
	<array>
		<dict>
			<key>Title</key>
			<string>视频</string>
			<key>FooterTitle</key>
			<string>视频相关设置</string>
			<key>rows</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<string>1002</string>
					<key>Key</key>
					<string>v-resolution</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>setting.common.resolution</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>3456x1728 | 30fps</string>
							<key>Value</key>
							<string>0</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>2304x1152 | 30fps</string>
							<key>Value</key>
							<string>1</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>2304x1152 | 60fps</string>
							<key>Value</key>
							<string>1002</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>v-whiteBalance</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>白平衡</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>自动</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>户外</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>阴天</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>白炽灯</string>
							<key>Value</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>荧光灯</string>
							<key>Value</key>
							<integer>4</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>slider</string>
					<key>Title</key>
					<string>曝光补偿</string>
					<key>Key</key>
					<string>v-exposure</string>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>MinimumValue</key>
					<integer>-3</integer>
					<key>MaximumValue</key>
					<integer>3</integer>
					<key>Steps</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>booleanSwitch</string>
					<key>Title</key>
					<string>循环录制</string>
					<key>Key</key>
					<string>v-loopRecord</string>
					<key>DefaultValue</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>照片</string>
			<key>FooterTitle</key>
			<string>照片相关设置</string>
			<key>rows</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>p-resolution</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>分辨率</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>6912x3456</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>3456x1728</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>p-whiteBalance</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>白平衡</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>自动</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>户外</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>阴天</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>白炽灯</string>
							<key>Value</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>荧光灯</string>
							<key>Value</key>
							<integer>4</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>p-iso</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>IOS光感度</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>自动</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>50</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>100</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>200</string>
							<key>Value</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>400</string>
							<key>Value</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>800</string>
							<key>Value</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>1600</string>
							<key>Value</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>p-shutterTime</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>快门时间</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>自动</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>1s</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>2s</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>4s</string>
							<key>Value</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>8s</string>
							<key>Value</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>16s</string>
							<key>Value</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>32s</string>
							<key>Value</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>slider</string>
					<key>Title</key>
					<string>曝光补偿</string>
					<key>Key</key>
					<string>p-exposure</string>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>MinimumValue</key>
					<integer>-3</integer>
					<key>MaximumValue</key>
					<integer>3</integer>
					<key>Steps</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>相机</string>
			<key>FooterTitle</key>
			<string>相机相关设置</string>
			<key>rows</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>SD卡信息</string>
					<key>Type</key>
					<string>info</string>
					<key>Key</key>
					<string>c-SD</string>
					<key>DefaultValue</key>
					<string>未获取</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>c-mode</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>浏览模式</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>球面</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>平面</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>小行星</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>全景</string>
							<key>Value</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>c-autoShutdown</string>
					<key>Type</key>
					<string>selectorPush</string>
					<key>Title</key>
					<string>自动关机</string>
					<key>Options</key>
					<array>
						<dict>
							<key>Key</key>
							<string>关闭</string>
							<key>Value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>5分钟</string>
							<key>Value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>10分钟</string>
							<key>Value</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>booleanSwitch</string>
					<key>Title</key>
					<string>蜂鸣器</string>
					<key>Key</key>
					<string>c-buzzer</string>
					<key>DefaultValue</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>booleanSwitch</string>
					<key>Title</key>
					<string>LED灯</string>
					<key>Key</key>
					<string>c-LED</string>
					<key>DefaultValue</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>c-shutdown</string>
					<key>Type</key>
					<string>button</string>
					<key>Title</key>
					<string>关闭相机</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>设备</string>
			<key>FooterTitle</key>
			<string>设备相关信息</string>
			<key>rows</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>设备名称</string>
					<key>Type</key>
					<string>info</string>
					<key>Key</key>
					<string>d-name</string>
					<key>DefaultValue</key>
					<string>未获取</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>序列号</string>
					<key>Type</key>
					<string>info</string>
					<key>Key</key>
					<string>d-serial</string>
					<key>DefaultValue</key>
					<string>未获取</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>固件版本</string>
					<key>Type</key>
					<string>info</string>
					<key>Key</key>
					<string>d-version</string>
					<key>DefaultValue</key>
					<string>未获取</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>DefaultValue</key>
					<integer>0</integer>
					<key>Key</key>
					<string>d-initialize</string>
					<key>Type</key>
					<string>button</string>
					<key>Title</key>
					<string>恢复出厂设置</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
